Repository mironovsergey/bootstrap-sheet, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, typescript, css, documentation, tests, build, github-actions, dependencies, config

.github/labeler.yml:

# JavaScript files
'javascript':
  - changed-files:
      - any-glob-to-any-file: 'src/js/**/*.js'

# TypeScript definitions
'typescript':
  - changed-files:
      - any-glob-to-any-file: 'src/types/**/*.d.ts'

# CSS/SCSS files
'css':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/scss/**/*.scss'
          - 'src/scss/**/*.css'

# Documentation
'documentation':
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - 'docs/**/*'

# Tests
'tests':
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*'

# Build/CI
'build':
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'
          - 'rollup.config.mjs'
          - 'babel.config.js'
          - 'jest.config.js'

# GitHub Actions
'github-actions':
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'

# Configuration
'config':
  - changed-files:
      - any-glob-to-any-file:
          - '*.config.js'
          - '*.config.mjs'
          - '.eslintrc*'
          - '.prettierrc*'
          - '.editorconfig'

refactor: remove a check-then-read race in the version script
  scripts/update-version.js
Labels: none

test: drop an unused binding and its lint suppression
  tests/unit/gestures.test.js
Labels: tests

test: emulate the stylesheet's closed position in jsdom
  tests/setup/jest.setup.js
  tests/setup/test-utils.js
Labels: tests

test: emulate the stylesheet's closed position in jsdom (#103)
  tests/setup/jest.setup.js
  tests/setup/test-utils.js
Labels: tests

fix: complete the show when a drag takes over the open animation
  src/js/bootstrap-sheet.ts
  tests/unit/gestures.test.js
Labels: tests

fix: complete the show when a drag takes over the open animation (#104)
  src/js/bootstrap-sheet.ts
  tests/unit/gestures.test.js
Labels: tests

fix: fire hide.bs.sheet before a swipe dismisses the sheet
  src/js/bootstrap-sheet.ts
  tests/unit/events.test.js
Labels: tests

fix: fire hide.bs.sheet before a swipe dismisses the sheet (#105)
  src/js/bootstrap-sheet.ts
  tests/unit/events.test.js
Labels: tests

fix: open sheets declaring data-bs-detents from a toggle trigger
  src/js/bootstrap-sheet.ts
  tests/unit/declarative-api.test.js
Labels: tests

fix: open sheets declaring data-bs-detents from a toggle trigger (#106)
  src/js/bootstrap-sheet.ts
  tests/unit/declarative-api.test.js
Labels: tests

fix: lock page scrolling when the scrollbar takes no space
  src/js/scrollbar.ts
  tests/unit/lifecycle.test.js
Labels: tests

fix: lock page scrolling when the scrollbar takes no space (#107)
  src/js/scrollbar.ts
  tests/unit/lifecycle.test.js
Labels: tests

fix: share the page scroll lock between sheets and restore body styles
  src/js/bootstrap-sheet.ts
  src/js/scrollbar.ts
  tests/unit/lifecycle.test.js
Labels: tests

fix: share the page scroll lock between sheets and restore body styles (#108)
  src/js/bootstrap-sheet.ts
  src/js/scrollbar.ts
  tests/unit/lifecycle.test.js
Labels: tests

fix: close only the topmost sheet on Escape
  src/js/bootstrap-sheet.ts
  tests/unit/keyboard-navigation.test.js
Labels: tests

fix: close only the topmost sheet on Escape (#109)
  src/js/bootstrap-sheet.ts
  tests/unit/keyboard-navigation.test.js
Labels: tests

fix: hide a closed sheet from assistive technology and the tab order
  src/scss/bootstrap-sheet.scss
  tests/unit/focus-management.test.js
Labels: css, tests

fix: hide a closed sheet from assistive technology and the tab order (#110)
  src/scss/bootstrap-sheet.scss
  tests/unit/focus-management.test.js
Labels: css, tests

fix: allow importing the module where there is no DOM
  jest.config.js
  src/js/bootstrap-sheet.ts
  src/js/focus-trap.ts
  tests/ssr/import.test.js
Labels: tests, build, config

fix: allow importing the module where there is no DOM (#111)
  jest.config.js
  src/js/bootstrap-sheet.ts
  src/js/focus-trap.ts
  tests/ssr/import.test.js
Labels: tests, build, config

fix: declare the script bundles as having side effects
  package.json
Labels: build, dependencies

fix: declare the script bundles as having side effects (#112)
  package.json
Labels: build, dependencies

docs: list 0.5.x as the supported release line
  SECURITY.md
Labels: documentation

docs: list 0.5.x as the supported release line (#113)
  SECURITY.md
Labels: documentation

ci: drop the nonexistent develop branch from workflow triggers
  .github/workflows/codeql.yml
  .github/workflows/test.yml
Labels: github-actions
