Repository mironovsergey/bootstrap-sheet, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, typescript, css, documentation, tests, build, github-actions, dependencies, config

.github/labeler.yml:

# JavaScript files
'javascript':
  - changed-files:
      - any-glob-to-any-file: 'src/js/**/*.js'

# TypeScript definitions
'typescript':
  - changed-files:
      - any-glob-to-any-file: 'src/types/**/*.d.ts'

# CSS/SCSS files
'css':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/scss/**/*.scss'
          - 'src/scss/**/*.css'

# Documentation
'documentation':
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - 'docs/**/*'

# Tests
'tests':
  - changed-files:
      - any-glob-to-any-file: 'tests/**/*'

# Build/CI
'build':
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'
          - 'rollup.config.mjs'
          - 'babel.config.js'
          - 'jest.config.js'

# GitHub Actions
'github-actions':
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

# Dependencies
'dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'

# Configuration
'config':
  - changed-files:
      - any-glob-to-any-file:
          - '*.config.js'
          - '*.config.mjs'
          - '.eslintrc*'
          - '.prettierrc*'
          - '.editorconfig'

fix: resolve GitHub Pages redirect loop and test matrix
  .github/workflows/deploy-pages.yml
  .github/workflows/test.yml
Labels: github-actions

fix: remove version:update from lint-staged
  .husky/commit-msg
  .husky/pre-commit
  package.json
Labels: build, dependencies

chore: normalize line endings to LF
  .gitattributes
Labels: none

fix: copy dist to docs for local development
  docs/index.html
  package.json
Labels: documentation, build, dependencies

feat: add codecov configuration
  .github/workflows/test.yml
  codecov.yml
Labels: github-actions

docs: add badges and CDN installation to README
  README.md
Labels: documentation

chore: update package-lock.json after dependency updates
  package-lock.json
Labels: build, dependencies

ci: fix invalid input names in greetings workflow
  .github/workflows/greetings.yml
Labels: github-actions

feat: gesture engine v2 — spring physics, Apple rubber band & inertia projection
  .gitignore
  .markdownlint.json
  CHANGELOG.md
  README.md
  docs/index.html
  package-lock.json
  package.json
  src/js/bootstrap-sheet.js
  src/js/constants.js
  src/js/utils.js
  src/scss/_mixins.scss
  src/scss/_variables.scss
  src/scss/bootstrap-sheet.scss
  src/types/index.d.ts
  tests/setup/test-utils.js
  tests/unit/backdrop.test.js
  tests/unit/configuration-options.test.js
  tests/unit/declarative-api.test.js
  tests/unit/events.test.js
  tests/unit/focus-management.test.js
  tests/unit/gestures.test.js
  tests/unit/initialization.test.js
  tests/unit/keyboard-navigation.test.js
  tests/unit/lifecycle.test.js
  tests/unit/utils.test.js
Labels: javascript, typescript, css, documentation, tests, build, dependencies

feat: gesture engine v2 — spring physics, Apple rubber band & inertia projection (#55)
  .gitignore
  .markdownlint.json
  CHANGELOG.md
  README.md
  docs/index.html
  package-lock.json
  package.json
  src/js/bootstrap-sheet.js
  src/js/constants.js
  src/js/utils.js
  src/scss/_mixins.scss
  src/scss/_variables.scss
  src/scss/bootstrap-sheet.scss
  src/types/index.d.ts
  tests/setup/test-utils.js
  tests/unit/backdrop.test.js
  tests/unit/configuration-options.test.js
  tests/unit/declarative-api.test.js
  tests/unit/events.test.js
  tests/unit/focus-management.test.js
  tests/unit/gestures.test.js
  tests/unit/initialization.test.js
  tests/unit/keyboard-navigation.test.js
  tests/unit/lifecycle.test.js
  tests/unit/utils.test.js
Labels: javascript, typescript, css, documentation, tests, build, dependencies

chore(deps): fix npm audit vulnerabilities
  package-lock.json
Labels: build, dependencies

fix(tests): override PointerEvent timeStamp to use Jest's faked clock
  tests/setup/jest.setup.js
Labels: tests

fix(tests): prevent flaky dismiss in PointerEvent timestamp test (#63)
  package-lock.json
  tests/setup/jest.setup.js
Labels: tests, build, dependencies

feat!: remove deprecated gesture and animation options
  README.md
  src/js/bootstrap-sheet.js
  src/js/constants.js
  src/types/index.d.ts
  tests/unit/configuration-options.test.js
Labels: javascript, typescript, documentation, tests

feat!: remove deprecated gesture and animation options (#76)
  README.md
  src/js/bootstrap-sheet.js
  src/js/constants.js
  src/types/index.d.ts
  tests/unit/configuration-options.test.js
Labels: javascript, typescript, documentation, tests

build: add TypeScript infrastructure
  .github/workflows/test.yml
  babel.config.js
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  rollup.config.mjs
  tsconfig.json
Labels: build, github-actions, dependencies, config

refactor: extract helper modules from the sheet component
  src/js/backdrop.ts
  src/js/bootstrap-sheet.js
  src/js/drag-controller.ts
  src/js/focus-trap.ts
  src/js/scrollbar.ts
  src/js/spring-animator.ts
Labels: javascript

refactor: migrate remaining sources to TypeScript
  .github/workflows/test.yml
  package.json
  rollup.config.mjs
  src/js/bootstrap-sheet.ts
  src/js/constants.ts
  src/js/spring-animator.ts
  src/js/utils.ts
  src/types/index.d.ts
  tsconfig.types.json
Labels: typescript, build, github-actions, dependencies, config

chore(release): prepare v0.3.0
  CHANGELOG.md
  scripts/update-version.js
Labels: documentation

chore: force LF line endings for TypeScript files
  .gitattributes
Labels: none

refactor: modularize the sheet component and migrate to TypeScript (#77)
  .gitattributes
  .github/workflows/test.yml
  CHANGELOG.md
  babel.config.js
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  rollup.config.mjs
  scripts/update-version.js
  src/js/backdrop.ts
  src/js/bootstrap-sheet.js
  src/js/bootstrap-sheet.ts
  src/js/constants.ts
  src/js/drag-controller.ts
  src/js/focus-trap.ts
  src/js/scrollbar.ts
  src/js/spring-animator.ts
  src/js/utils.ts
  src/types/index.d.ts
  tsconfig.json
  tsconfig.types.json
Labels: javascript, typescript, documentation, build, github-actions, dependencies, config

ci: attach type declarations to release artifacts
  .github/workflows/release.yml
Labels: github-actions

ci: attach type declarations to release artifacts (#80)
  .github/workflows/release.yml
Labels: github-actions

docs: sync documentation with the TypeScript migration
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

docs: sync documentation with the TypeScript migration (#81)
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

0.3.0
  docs/index.html
  package-lock.json
  package.json
  src/js/bootstrap-sheet.ts
Labels: documentation, build, dependencies

fix: keep ancestors of a nested sheet interactive
  CHANGELOG.md
  src/js/focus-trap.ts
  tests/unit/focus-management.test.js
Labels: documentation, tests

fix: keep ancestors of a nested sheet interactive (#82)
  CHANGELOG.md
  src/js/focus-trap.ts
  tests/unit/focus-management.test.js
Labels: documentation, tests

ci: publish to npm via OIDC trusted publishing
  .github/workflows/release.yml
  package.json
Labels: build, github-actions, dependencies

ci: publish to npm via OIDC trusted publishing (#83)
  .github/workflows/release.yml
  package.json
Labels: build, github-actions, dependencies

0.3.1
  docs/index.html
  package-lock.json
  package.json
  src/js/bootstrap-sheet.ts
Labels: documentation, build, dependencies

feat!: make the whole sheet draggable
  CHANGELOG.md
  README.md
  docs/index.html
  src/js/bootstrap-sheet.ts
  src/js/constants.ts
  src/js/drag-controller.ts
  src/scss/_variables.scss
  src/scss/bootstrap-sheet.scss
  tests/setup/test-utils.js
  tests/unit/backdrop.test.js
  tests/unit/configuration-options.test.js
  tests/unit/declarative-api.test.js
  tests/unit/events.test.js
  tests/unit/focus-management.test.js
  tests/unit/gestures.test.js
  tests/unit/keyboard-navigation.test.js
  tests/unit/lifecycle.test.js
Labels: css, documentation, tests

feat!: make the whole sheet draggable (#87)
  CHANGELOG.md
  README.md
  docs/index.html
  src/js/bootstrap-sheet.ts
  src/js/constants.ts
  src/js/drag-controller.ts
  src/scss/_variables.scss
  src/scss/bootstrap-sheet.scss
  tests/setup/test-utils.js
  tests/unit/backdrop.test.js
  tests/unit/configuration-options.test.js
  tests/unit/declarative-api.test.js
  tests/unit/events.test.js
  tests/unit/focus-management.test.js
  tests/unit/gestures.test.js
  tests/unit/keyboard-navigation.test.js
  tests/unit/lifecycle.test.js
Labels: css, documentation, tests

0.4.0
  docs/index.html
  package-lock.json
  package.json
  src/js/bootstrap-sheet.ts
Labels: documentation, build, dependencies

docs: correct the direction of the slide event ratio
  README.md
  docs/index.html
Labels: documentation

docs: correct the direction of the slide event ratio (#89)
  README.md
  docs/index.html
Labels: documentation

feat: add detents, the sheet can rest at more than one height
  CHANGELOG.md
  README.md
  docs/index.html
  src/js/backdrop.ts
  src/js/bootstrap-sheet.ts
  src/js/constants.ts
  src/js/detents.ts
  src/js/drag-controller.ts
  src/js/spring-animator.ts
  tests/setup/jest.setup.js
  tests/setup/test-utils.js
  tests/unit/detents.test.js
Labels: documentation, tests

feat: add detents, the sheet can rest at more than one height (#90)
  CHANGELOG.md
  README.md
  docs/index.html
  src/js/backdrop.ts
  src/js/bootstrap-sheet.ts
  src/js/constants.ts
  src/js/detents.ts
  src/js/drag-controller.ts
  src/js/spring-animator.ts
  tests/setup/jest.setup.js
  tests/setup/test-utils.js
  tests/unit/detents.test.js
Labels: documentation, tests

0.5.0
  docs/index.html
  package-lock.json
  package.json
  src/js/bootstrap-sheet.ts
Labels: documentation, build, dependencies

chore(deps): patch js-yaml and brace-expansion advisories
  package-lock.json
Labels: build, dependencies
